.listItems {
  list-style: none;
  text-align: center;
  width: 280px;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}
.containerCard {
  position: relative;
  width: 380px;
  height: 460px;
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
}
/* .backGroundImage {
  position: absolute;
  left: 36px;
  top: 28px;
} */
.imageAvatar {
  padding: 5px 15px;
  border-radius: 50%;
}
.logo {
  position: absolute;
  width: 76px;
  top: 20px;
}
.title {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #ebd8ff;
}
.tweets {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;

  color: #ebd8ff;
}
.followers {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;

  color: #ebd8ff;
}
